/* Add your existing styles here */
.food-preference-page-container {
  text-align: center;
  padding: 20px;
  background-color: rgb(19, 151, 7) ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  max-height: 150px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.option:hover {
  opacity: 0.7;
}

.selected {
  font-weight: bold;
}

.option-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.description-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-box {
  background-color: #000000;
  color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  position: relative;
}

.close-button {
  position: absolute;
  color: #ffe9e9;
  top: 10px;
  right: 10px;
  background-color: rgb(43, 43, 77);
  border: 10px;
  font-size: 15px;
  cursor: pointer;
}

/* Add your other styles here */
.italic-14 {
  font-style: italic;
  font-size: 18px;
  color: #ffffff;
}

.submit-button {
  padding: 10px 20px;
  background-color: rgb(43, 43, 77);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
  background-color: rgb(80, 80, 113);
}

.right-image-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

.right-image {
  width: 100%;
  max-width: 450px; /* Adjust the width as needed */
  height: 350px;
}
